# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs, choose to reveal docs since its a learning course
# docs/

# Dotenv file
.env

# ZK exercises
/protostar/ZKencode/Hw4tests/ZeroKnowledgeBootcamp/

# node_modules from warp
/node_modules/

# projects
Circom/circom/
warp/